bodyImg {

	style="background:url('https://www.toptal.com/designers/subtlepatterns/patterns/large_leather.png');"

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
